.godot/
.nomedia

.import/
export.cfg
export_credentials.cfg

*.translation

.mono/
data_*/
mono_crash.*.json

build/
exports/
*.apk
*.aab
*.exe
*.dmg

!docs/**
docs/*.import

.vscode/
.idea/
*.code-workspace
*.swp
*~

.DS_Store
Thumbs.db
desktop.ini
